/* global.css */

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f4f6f9;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}